body {
	position: relative;
	font-family: "Lucida Console", Monaco, monospace;
}

#app {
	height: 80vh;

	display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
}

.flexForm {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column; 
	align-items: center;
}

.flexForm input {
	font-family: "Lucida Console", Monaco, monospace;
	margin-bottom: 5px;
}